/*style generale*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

/*-- top-bar --*/
.top-bar {
  background-color: #0074b7;
  color: white;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.top-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-item i {
  font-size: 16px;
  color: white;
}
/*le Responsive*/

/* Mobile (écran jusqu'à 768px) */
@media (max-width: 768px) {
  .top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
  }
  .top-item {
    margin-bottom: 7px;
  }
}
/*-- Header principal -- */
.main-header {
  background: #fff;
  padding: 0px; /* ⬅️ hauteur réduite */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

/* Partie contact */
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px; /* ⬅️ hauteur réduite */
}
/* Logo */
.logo-container img {
  width: 100%;
  max-width: 180px; /* taille idéale pour ton header */
  height: auto;
}

/* Zone contact */
.header-contact .contact-info {
  display: flex;
  gap: 80px;
}

/* Lien contact */
.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #000;
}

.contact-item:hover strong {
  color: #1fa3d6;
}
.header-contact .contact-info .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* Icônes */
.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #0074b7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  color: #fff;
  font-size: 16px;
}

/* Small text */
small {
  font-size: 13px;
  color: #666;
}
/*responsive header-contact*/
@media (max-width: 768px) {
  .header-contact .contact-info a.contact-item:last-child {
    display: none;
  }
  .header-contact {
    padding: 0 25px;
  }
}
/* Menu + bouton 
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f5f5f7;
  padding: 15px 0px;
}

.header-menu nav a {
  margin-right: 35px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.header-menu nav a:hover {
  color: #0074b7;
}*/
/* Menu + bouton */

.header-menu {
  background: #f5f5f7;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  padding: 15px 15%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-link {
  transition: 0.7s ease;
  font-weight: 600;
}
.nav-link:hover {
  color: #0074b7;
}

/* BOUTON */
.btn {
  display: inline-block;
  background: #a56fc0;
  color: #000;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #8f58a5;
}
/*MENU HAMBURGER*/
.hamburger {
  display: none;
  cursor: pointer;
  background-color: #0074b7;
  padding: 4px 7px;
  border-radius: 8px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
/* RESPONSIVE MOBILE MENU HAMBURGER*/
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body {
    padding-bottom: 90px;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .navbar .btn {
    padding: 12px 13px;
    font-size: 0.8rem;
  }
  .nav-menu {
    position: absolute;
    bottom: 0;
    left: -100%;
    top: 270px;
    gap: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 200px;
    text-align: center;
    border-radius: 0 0 30px 30px;
    transition: 0.3s;
    z-index: 1000;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

/*Hero*/
.hero {
  background-color: #eaf6fb;
  padding: 60px 9%;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.hero-image {
  position: relative;
  width: 420px;
  height: 420px;
}

/* Image */
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* CONTENU */
.hero-content {
  max-width: 540px;
}

.hero-content .title h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  color: #2c4a7a;
}

.hero-content .title h2 {
  display: block;
  margin-top: 10px;
  font-weight: 800;
  color: #0b2f5b;
  position: relative;
}

.hero-content .title h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #a56fc0;
}

.subtitle {
  margin-top: 30px;
  font-size: 18px;
  color: #0b2f5b;
}

.text {
  margin: 20px 0 35px;
  color: #333333;
  line-height: 1.6;
}
/*bouton fiche google*/
.bouton {
  display: flex;
  flex-direction: row-reverse;
  align-items: first baseline;
}
.google-reviews-btn {
  display: inline-block;
  gap: 10px;
  padding: 20px 10px;
  border: 1px solid #d8d8db; /* vert */
  gap: 20px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.google-reviews-btn span {
  margin-right: 5px;
}
a .stars {
  color: #f4b400; /* jaune Google */
  font-size: 16px;
  letter-spacing: 1px;
}

.reviews-text {
  font-size: 15px;
}

.google-logo {
  font-weight: 700;
  color: #0074b7; /* bleu Google */
}

/* RESPONSIVE HERO TABLETTE*/
@media (max-width: 1024px) {
  .hero-container {
    gap: 40px;
  }

  .hero-content h1 {
    font-size: 34px;
  }
}
/* RESPONSIVE HERO MOBILE*/
@media (max-width: 768px) {
  .hero {
    padding: 60px 20px;
  }

  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .hero-content .title h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .hero-content .title h2 {
    font-size: 18px;
  }
  .bouton {
    flex-direction: column;
    gap: 20px;
  }
  .subtitle {
    font-size: 16px;
  }
  .hero-actions {
    flex-direction: column;
    gap: 15px;
  }
}
/*
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-content h1 span::after {
    left: 50%;
    transform: translateX(-50%);
  }
}*/

/*le Responsive*/
/* logo" Tablette (écran jusqu'à 1024px) */
@media (max-width: 1024px) {
  .logo-container img {
    max-width: 160px; /* limite la taille du logo sur tablette */
  }
}

/* Mobile (écran jusqu'à 768px) */
@media (max-width: 768px) {
  .logo-container img {
    max-width: 130px; /* limite la taille du logo sur mobile */
  }
}

/*hero version mobile
@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
}*/

/*separateur*/
.separator-section {
  background-color: #eaf6fb; /* EXACTEMENT la même couleur */
  display: flex;
  justify-content: center;
}

/* Ligne */
.separator-line {
  width: 200px;
  height: 2px;
  background-color: #1fa3d6; /* bleu principal */
  position: relative;
}

/* Point central */
.separator-dot {
  width: 10px;
  height: 10px;
  background-color: #a56fc0; /* violet accent */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*services de nettoyage*/
.services {
  background-color: #eaf4fc;
  padding: 90px 20px;

  font-family: Arial, sans-serif;
}
.services .container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.services h2 {
  font-size: 2rem;
  color: #0074b7; /* bleu clair comme sur ton screenshot */
  margin-bottom: 25px;
}
.services p {
  font-size: 1rem;
  color: #1f2937; /* gris foncé pour le texte */
  line-height: 1.8;
  margin-bottom: 20px;
}
.services .cta {
  margin-top: 40px;
}
.services .cta a {
  margin: 0 10px;
}
/* BOUTON */
.services .cta .btn {
  width: 45%;
}

/*Temoignage client*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3da1d6; /* #3da1d6; au lieu d’un bleu plus foncé */
  padding: 80px 0;
}

.carousel {
  width: 80%;
  margin: auto;
  overflow: hidden; /* masque les slides hors écran */
}

.track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 800px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: #a56fc0;
  border-radius: 12px 0 0 12px;
}

h3 {
  margin-top: 0;
}
.quote {
  color: #555;
  font-style: italic;
}

.stars {
  color: #0074b7;
  font-size: 20px;
  margin-top: 15px;
}
.dots {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}

.dot.active {
  background: #ff4fa3;
}
/* ====== TABLETTE temoignage ====== */
@media (max-width: 1024px) {
  .carousel {
    width: 90%;
  }

  .slide {
    gap: 20px;
  }

  .card {
    width: 80%;
  }
}
/* ====== MOBILE temoignage====== */
@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}
/*FOOTER
.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #000;
  padding: 80px 40px 30px;
  font-family: Arial, sans-serif;
  margin-top: 40px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.08);
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.footer h4 {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer h4::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #a56fc0;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 12px;
}

.footer ul a {
  color: #000;
  text-decoration: none;
  opacity: 0.9;
}

.footer ul a:hover {
  color: #0074b7;
}*/

/* Logo 
.footer-brand img {
  width: 100%;
  max-width: 130px; 
}*/

.logo span {
  color: #1ec97f;
}

/* Réseaux 
.socials {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.socials a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0074b7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}*/

/* Bas footer
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 60px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-bottom a {
  color: #000;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
.footer-bottom p {
  font-weight: bold;
}*/
/* Responsive (tablette & mobile) Footer
@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom a {
    margin-left: 0;
    margin-right: 15px;
  }
}*/
footer {
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 0 2rem;
}
.col .logo {
  width: 100px;
  margin-bottom: 25px;
}
.col a {
  color: #fff;
}
.col h3 {
  color: #ff014fff;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.col h3::after {
  content: "";
  height: 3px;
  width: 50px;
  background-color: #ff014fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: #ff014fff;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a:before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #ff014fff;
  transition: 0.5s ease;
  opacity: 0;
}
