/*style generale*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*-----------------*/
.top-bar {
  background-color: #1fa3d6;
  color: white;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.top-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-item i {
  font-size: 16px;
  color: white;
}

/*.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #fff;
}*/

.main-header {
  background: #fff;
  padding: 0px; /* ⬅️ hauteur réduite */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

/* Partie contact */
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px; /* ⬅️ hauteur réduite */
}
/* Logo */
.logo-container img {
  width: 100%;
  max-width: 180px; /* taille idéale pour ton header */
  height: auto;
}

/* Zone contact */
.header-contact .contact-info {
  display: flex;
  gap: 80px;
}

/* Lien contact */
.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #000;
}

.contact-item:hover strong {
  color: #1fa3d6;
}
.header-contact .contact-info .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
/*
.header-contact .contact-info div {
  display: flex;
  align-items: center;
  gap: 8px;
}*/

/* Icônes */
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1fa3d6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  color: #fff;
  font-size: 18px;
}

/* Small text */
small {
  font-size: 13px;
  color: #666;
}

/* Menu + bouton */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f7;
  padding: 15px 60px;
}

.header-menu nav a {
  margin-right: 25px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.btn-devis {
  background: #47b7a7;
  color: #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
}
/*le Responsive*/
/* Tablette (écran jusqu'à 1024px) */
@media (max-width: 1024px) {
  .logo-container img {
    max-width: 160px; /* limite la taille du logo sur tablette */
  }
}

/* Mobile (écran jusqu'à 768px) */
@media (max-width: 768px) {
  .logo-container img {
    max-width: 130px; /* limite la taille du logo sur mobile */
  }
}
