/*style generale*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*-----------------*/
.top-bar {
  background-color: #0074b7;
  color: white;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.top-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-item i {
  font-size: 16px;
  color: white;
}

/*.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #fff;
}*/

.main-header {
  background: #fff;
  padding: 0px; /* ⬅️ hauteur réduite */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

/* Partie contact */
.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px; /* ⬅️ hauteur réduite */
}
/* Logo */
.logo-container img {
  width: 100%;
  max-width: 180px; /* taille idéale pour ton header */
  height: auto;
}

/* Zone contact */
.header-contact .contact-info {
  display: flex;
  gap: 80px;
}

/* Lien contact */
.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #000;
}

.contact-item:hover strong {
  color: #1fa3d6;
}
.header-contact .contact-info .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* Icônes */
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0074b7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  color: #fff;
  font-size: 18px;
}

/* Small text */
small {
  font-size: 13px;
  color: #666;
}

/* Menu + bouton */
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f5f5f7;
  padding: 15px 0px;
}

.header-menu nav a {
  margin-right: 35px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.header-menu nav a:hover {
  color: #0074b7;
}
/*
.btn-devis {
  background: #4cb17d;
  color: #000;
  padding: 15px 35px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
}*/

/* BOUTON */
.btn {
  display: inline-block;
  background: #a56fc0;
  color: #000;
  padding: 14px 35px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #8f58a5;
}

/*Hero*/
.hero {
  background-color: #eaf6fb;
  padding: 80px 15% 50px 15%;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 1300px;
  margin: auto;
}

.hero-image {
  position: relative;
  width: 420px;
  height: 420px;
}

.circle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

/* Image */
.circle-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

/* SVG arcs */
.circle-arcs {
  position: absolute;
  inset: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: 3;
  pointer-events: none;
}

.circle-arcs circle {
  animation: draw 1.5s ease-out forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* CONTENU */
.hero-content {
  max-width: 520px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-content .title h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  color: #2c4a7a;
}

.hero-content .title h2 {
  display: block;
  margin-top: 10px;
  font-weight: 800;
  color: #0b2f5b;
  position: relative;
}

.hero-content .title h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #a56fc0;
}

.subtitle {
  margin-top: 30px;
  font-size: 18px;
  color: #0b2f5b;
}

.text {
  margin: 20px 0 35px;
  color: #333333;
  line-height: 1.6;
}
/*bouton fiche google*/
.bouton {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
.google-reviews-btn {
  display: inline-block;
  gap: 10px;
  padding: 20px 10px;
  border: 1px solid #d8d8db; /* vert */
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.google-reviews-btn span {
  margin-right: 5px;
}
a .stars {
  color: #f4b400; /* jaune Google */
  font-size: 16px;
  letter-spacing: 1px;
}

.reviews-text {
  font-size: 15px;
}

.google-logo {
  font-weight: 700;
  color: #0074b7; /* bleu Google */
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-content h1 span::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

/*le Responsive*/
/* Tablette (écran jusqu'à 1024px) */
@media (max-width: 1024px) {
  .logo-container img {
    max-width: 160px; /* limite la taille du logo sur tablette */
  }
}

/* Mobile (écran jusqu'à 768px) */
@media (max-width: 768px) {
  .logo-container img {
    max-width: 130px; /* limite la taille du logo sur mobile */
  }
}

/*separateur*/
.separator-section {
  background-color: #eaf6fb; /* EXACTEMENT la même couleur */
  display: flex;
  justify-content: center;
}

/* Ligne */
.separator-line {
  width: 200px;
  height: 2px;
  background-color: #1fa3d6; /* bleu principal */
  position: relative;
}

/* Point central */
.separator-dot {
  width: 10px;
  height: 10px;
  background-color: #a56fc0; /* violet accent */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*services de nettoyage*/
.services {
  background-color: #eaf4fc;
  padding: 90px 20px;

  font-family: Arial, sans-serif;
}
.services .container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.services h2 {
  font-size: 2rem;
  color: #0074b7; /* bleu clair comme sur ton screenshot */
  margin-bottom: 25px;
}

.services p {
  font-size: 1rem;
  color: #1f2937; /* gris foncé pour le texte */
  line-height: 1.8;
  margin-bottom: 20px;
}
.services .cta {
  margin-top: 40px;
}
.services .cta a {
  margin: 0 10px;
}
/* BOUTON */
.services .cta .btn {
  width: 45%;
}

/*Temoignage client*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3da1d6; /* #3da1d6; au lieu d’un bleu plus foncé */
  padding: 80px 0;
}

.carousel {
  width: 80%;
  margin: auto;
  overflow: hidden; /* masque les slides hors écran */
}

.track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 800px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: #a56fc0;
  border-radius: 12px 0 0 12px;
}

h3 {
  margin-top: 0;
}
.quote {
  color: #555;
  font-style: italic;
}

.stars {
  color: #0074b7;
  font-size: 20px;
  margin-top: 15px;
}
.dots {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}

.dot.active {
  background: #ff4fa3;
}
/* ====== TABLETTE temoignage ====== */
@media (max-width: 1024px) {
  .carousel {
    width: 90%;
  }

  .slide {
    gap: 20px;
  }

  .card {
    width: 80%;
  }
}
/* ====== MOBILE temoignage====== */
@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}
